<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dku.simpleBoard.repository.BoardRepository">
    <resultMap id="boardMap" type="com.dku.simpleBoard.dto.BoardDTO">
        <result column="user_name" property="userName"/>
        <result column="board_no" property="boardNo"/>
        <result column="board_title" property="boardTitle"/>
        <result column="board_content" property="boardContent"/>
        <result column="board_views" property="boardViews"/>
        <result column="board_likes" property="boardLikes"/>
        <result column="board_date" property="boardDate"/>
    </resultMap>

    <select id="getBoardList"  resultMap="boardMap">
        SELECT s.user_name as user_name,
               b.board_no as board_no,
               b.board_title as board_title,
               b.board_content as board_content,
               b.board_views as board_views,
			   count(c.comment_no) as commentCount,
               b.board_likes as board_likes,
               b.board_date as board_date
        FROM boards b, users s, comments c
        WHERE b.user_no = s.user_no AND c.board_no = b.board_no
        GROUP BY b.board_no;
    </select>

    <select id="getBoardByNo" resultMap="boardMap">
        SELECT s.user_name as user_name,
               b.board_no as board_no,
               b.board_title as board_title,
               b.board_content as board_content,
               b.board_views as board_views,
			   count(c.comment_no) as commentCount,
               b.board_likes as board_likes,
               b.board_date as board_date
        FROM boards b, users s, comments c
        WHERE b.user_no = s.user_no AND c.board_no = b.board_no AND b.board_no='${boardNo}'
    </select>
</mapper>