<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dku.simpleBoard.mapper.BoardMapper">
    <resultMap id="boardMap" type="com.dku.simpleBoard.dto.BoardDTO">
        <result column="user_no" property="userNo"/>
        <result column="board_title" property="boardTitle"/>
        <result column="board_content" property="boardContent"/>
        <result column="board_views" property="boardViews"/>
        <result column="board_likes" property="boardLikes"/>
        <result column="board_date" property="boardDate"/>
    </resultMap>

</mapper>