<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dku.simpleBoard.repository.CommentRepository">
    <resultMap id="commentMap" type="com.dku.simpleBoard.dto.CommentDTO">
        <result column="user_name" property="userName"/>
        <result column="comment_no" property="commentNo"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_likes" property="commentLikes"/>
        <result column="comment_date" property="commentDate"/>
    </resultMap>

    <select id="getCommentListByBoardNo" resultMap="commentMap">
		SELECT  c.comment_no,
		        s.user_name as user_name,
		        c.comment_content as comment_content,
				c.comment_likes as comment_likes,
				c.comment_date as comment_date
        FROM boards b, users s, comments c
        WHERE c.user_no=s.user_no AND c.board_no='${boardNo}'
        GROUP BY c.comment_no;
    </select>
</mapper>